.home-header {
    margin-top: 40px;
}

.home-header__slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 5px;

    .swiper-slide {
        overflow: hidden;
        padding: 93px 30px 93px 70px;
    }

    .swiper-slide-1 {
        background: #fff1b8 url(../../img/promo/pizza.png) top -100px right -250px / 830px no-repeat;
    }

    .swiper-slide-2 {
        background: #fff1b8 url(../../img/promo/sushi.png) top -100px right -250px / 830px no-repeat;
    }

    .swiper-slide-3 {
        background: #fff1b8 url(../../img/promo/kebab.png) top -100px right -250px / 830px no-repeat;
    }

    .swiper-pagination {
        position: absolute;
        display: flex;
        justify-content: center;
        bottom: 10px;
        left: 0;
        z-index: 1;
    }
}

.home-header__title {
    font-size: 3.9rem;
    white-space: pre-line;
    margin-bottom: 30px;
}

.home-header__description {
    font-size: 2.4rem;
    white-space: pre-line;
}


@media only screen and (max-width: 1000px) {
    .home-header__slider {
        .swiper-slide {
            background-position: center right -200px;
            background-size: 500px;
            padding: 65px 50px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .home-header__container {
        width: 100%;
        padding: 0;
    }
}

@media only screen and (max-width: 600px) {
    .home-header__slider {
        .swiper-slide {
            background-image: none;
            background: rgb(255,241,184);
            background: linear-gradient(90deg, rgba(255,241,184,1) 0%, rgba(254,224,101,1) 100%);
        }
    }

    .home-header__description {
        white-space: normal;
    }
}

@media only screen and (max-width: 500px) {
    .home-header__title {
        white-space: normal;
        font-size: 3.5rem;
    }

    .home-header__description {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 400px) {
    .home-header__slider {
        .swiper-slide {
            padding-left: 25px;
            padding-right: 25px;
        }
    }
}