.pizza-plus__sticky-nav {
    margin-bottom: 40px;
}

.pizza-plus__logo {
    margin-right: 7.5%;
}

.pizza-plus__search-address {
    width: 57.6%;
}

.pizza-plus__button {
    .button__cart {
        display: block;
        margin-left: 10px;
    }
}