.sticky-nav {
    padding-top: 44px;
    font-size: 1.6rem;
}

.sticky-nav__logo {
    margin-right: 8.6%;
}

.sticky-nav__button {
    margin-left: auto;
}

@media only screen and (max-width: 1350px) {
    .sticky-nav__search-address {
        width: 50%;
        margin: auto;
    }

    .sticky-nav__logo {
        margin-right: 0;
    }
}

@media only screen and (max-width: 600px) {
    .sticky-nav__container {
        flex-wrap: wrap;
    }

    .sticky-nav__search-address {
        width: 100%;
        margin: auto;
        order: 1;
    }

    .sticky-nav__logo {
        margin-bottom: 30px;
    }
}