:root {
    font-size: 10px;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #ffffff;
    font-family: $main-font;
}

img {
    min-width: 100%;
    //object-fit: cover;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

button {
    border: none;
}

.is-hidden {
    display: none;
}

.container {
    display: flex;
    width: 1230px;
    padding: 0px 20px;
    margin: 0px auto;
    overflow: hidden;
}

@media only screen and (max-width: 1350px) {
    .container {
        width: 980px;
    }
}

@media only screen and (max-width: 1000px) {
    .container {
        width: 750px;
    }
}